.btn{
   font-weight: 600;
   font-size: 18px;
   text-transform: uppercase;
   color: var(--color);
   padding: 15px 40px;
   background: var(--bgr);
   border-radius: 25px;
   display: inline-block;
   position: relative;
   overflow: hidden;
   z-index: 1;
   position: relative;
   &__line{
      position: relative;
      z-index: 1;
   }
   &::before{
      @include size(100%, 0);
      @include pos(absolute, $t:0, $l:0);
      content: '';
      transition: all .7s ease;
   }
   &:hover{
      &::before{
         @include size(100%);
      }
   }
}