@include font-face('icomoon', 'fonts/icomoon/icomoon', $ver: '?sqqzeb');
 

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e901";
}
.icon-map:before {
  content: "\e902";
}
.icon-star:before {
  content: "\e903";
}
.icon-tel:before {
  content: "\e904";
}

