.info{
    margin-bottom: 90px;
    z-index: 5;
    position: relative;
    &__title{
        font-size: 36px;
        font-weight: 800;
        letter-spacing: 7.2px;
        margin-bottom: 30px;
    }
}