.navigation{
   @include pos(fixed, $t:0, $l:0, $r:0, $z:99);
   padding-right: 30px;
   position: fixed;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: rgba(40, 47, 61, 0.7);
   &__item{
      display: flex;
   }
   &__list{
      margin-left: 70px;
   }
   &__link{
      color: var(--color);
      transition: all .6s ease;
      display: inline-block;
      position: relative;
      &::before{
         @include size(100%, 3px);
         @include pos(absolute, $t: -4px, $l: 0);
         content: '';
         background: var(--bgr);
         opacity: 0;
         transition: all .6s ease;
      }
      &:hover{
         color: var(--bgr);
         &::before{
            @include pos(absolute, $t: 25px, $l: 0);
            opacity: 1;
         }
      }
   }
}