.parallax{
  @include align(true, true, absolute);
  min-height: 360px;
  width: 100%;
  max-width: 1310px;
  &--1{
    @include pos(absolute, $t: -700px, $l:15px);
  }
  &--2{
    @include pos(absolute, $t: -650px, $l:20%);
  }
  &--3{
    @include pos(absolute, $t: -450px, $l:5%);
  }
  &--4{
    @include pos(absolute, $t: -570px, $l:60%);
  }
  &--5{
    @include pos(absolute, $t: -650px, $l:70%);
  }
  &--6{
    @include pos(absolute, $t: -420px, $l:50%);
  }
  &--7{
    @include pos(absolute, $t: -500px, $l:80%);
  }
  &--8{
    @include pos(absolute, $t: -650px, $l:85%);
  }
  &--9{
    @include pos(absolute, $t: -500px, $l:87%);
  }
  &--10{
    @include pos(absolute, $t: -600px, $l:28%);
  }
}