@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
:root{
   --color: #fff;
   --form: #8C8C8C;
   --bgr: #FB0057;
}
$font: 'Open Sans', sans-serif;