.header{
   background: url('../images/header-bgr.jpg') no-repeat center;
   background-size: cover;
   background-attachment: fixed;
   &__content{
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   &__wrapper{
      text-align: center;
   }
   &__items{
      position: relative;
      margin-bottom: 40px;
   }
   &__text{
      @include align(false, true, absolute);
      white-space: nowrap;
      top: 135px;
      font-size: 48px;
      font-weight: 800;
      text-transform: uppercase;
   }
}